[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
svglib = "*"
reportlab = "*"
PyPDF2 = "*"

[dev-packages]
pyinstaller = "*"
[requires]
python_version = "3.7"
